<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site Down</title>
</head>
<body>
    <header>
    <h1>{{pageTitle}}</h1>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    </header>

    <h1>{{maintenance}}</h1>



    <footer>
        <p>Created by Devodriq Roberts. Copyrigtht {{getCurrentYear}}</p>
    </footer>
</body>
</html>